@use '../../../variables.scss';

mat-toolbar {
  display: grid;
  grid-template-areas: "sidebarToggle navItems profile";
  grid-template-columns: auto 1fr auto;
  height: variables.$header-height;
}

.sidebar-toggle {
  grid-area: sidebarToggle;
  display: none;
}

app-profile-menu {
  grid-area: profile;
}

.button-box {
  grid-area: navItems;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  button {
    margin-right: 20px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .sidebar-toggle {
    display: block;
  }
}