@use '../../../variables.scss';

aside {
  --sidebar-padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: variables.$main-bg-color;
  width: 170px; // defines width for desktop when expanded
  // max-height: calc(100vh - variables.$header-height);
  -moz-transition: width 0.1s ease-in-out;
  -webkit-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
}

.sidebar-items {
  color: white;
  height: calc(100vh - variables.$header-height);
}

h4 {
  padding-top: 10px;
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;
}

img {
  width: 40px;
}

.toggle {
  background-color: transparent;
  color: white;
  border: 0;
  box-shadow: 1px 3px 3px variables.$box-shadow-color;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.groupSettings {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  label {
    margin-top: 4px;
  }
}

.stepper {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: subpixel-antialiased;
  button {
    margin: 6px;
    background-color: rgba(0,0,0,0.5);
    font-size: 30px;
    -webkit-font-smoothing: subpixel-antialiased;
  }
  
}

.justButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .toggle {
    margin-top: 16px;
  }
}

@media(max-width: 768px) {

  aside {
    width: 170px;// defines width for mobile when expanded
  }

  .sidebar-toogle-container {
    display: none;
  }

  .sidebar-items {
    height: calc(100vh - variables.$header-height);
  }

  .sidebar-show {
    transform: translateX(0);
    z-index: 200;
  }
}
