<aside>
  <section class="sidebar-items">
    <h4>Settings</h4>

    <div class="groupSettings">
      <button (click)="settingsService.toggleGroups()" class="toggle"
        title="Activate this to create teams based on the number of teams you define here.">
        <img *ngIf="!settingsService.settings.groups" src="assets/img/settings/groups.png">
        <img *ngIf="settingsService.settings.groups" src="assets/img/settings/groupsActive.png">
      </button>
      <label>{{ settingsService.settings.numberOfTeams }}</label>
      <div class="stepper">
        <button mat-raised-button
          (click)="settingsService.updateGroupCount(settingsService.settings.numberOfTeams - 1)">-</button>
        <button mat-raised-button
          (click)="settingsService.updateGroupCount(settingsService.settings.numberOfTeams + 1)">+</button>
      </div>
    </div>

    <div class="groupSettings">
      <button (click)="settingsService.toggleMembers()" class="toggle"
        title="Activate this to create teams based on the member count you can define here.">
        <img *ngIf="!settingsService.settings.members" src="assets/img/settings/member.png">
        <img *ngIf="settingsService.settings.members" src="assets/img/settings/memberActive.png">
      </button>
      <label>{{ settingsService.settings.numberOfMembers }}</label>
      <div class="stepper">
        <button mat-raised-button
          (click)="settingsService.updateMemberCount(settingsService.settings.numberOfMembers - 1)">-</button>
        <button mat-raised-button
          (click)="settingsService.updateMemberCount(settingsService.settings.numberOfMembers + 1)">+</button>
      </div>
    </div>
    <!--  *ngIf="settings | async as s else tpl" -->
    <!-- <ng-template #tpl><button></button></ng-template> -->
    <div class="justButtons">
      <button (click)="settingsService.toggleOneAgainstAll()" class="toggle"
        title="Activate this to create a 1 person team against the rest">
        <img *ngIf="!settingsService.settings.oneAgainstAll" src="assets/img/settings/oneAgainstAll.png">
        <img *ngIf="settingsService.settings.oneAgainstAll" src="assets/img/settings/oneAgainstAllActive.png">
      </button>

      <button (click)="settingsService.toggleNooneIsLeftBehind()" class="toggle"
        title="Activate this to create teams as you selected but spread remaining members on top to the created teams so noone is left behind">
        <img *ngIf="!settingsService.settings.noOneIsLeftBehind" src="assets/img/settings/nooneIsLeftBehind.png">
        <img *ngIf="settingsService.settings.noOneIsLeftBehind" src="assets/img/settings/nooneIsLeftBehindActive.png">
      </button>

      <button (click)="settingsService.toggleColored()" class="toggle"
        title="Activate this to change between colored and transparent rows in team creation">
        <img *ngIf="!settingsService.settings.colored" src="assets/img/settings/colored.png">
        <img *ngIf="settingsService.settings.colored" src="assets/img/settings/coloredActive.png">
      </button>
    </div>
  </section>

</aside>