@use '../../../variables.scss';

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "container";
  grid-template-columns: 1fr;
  grid-template-rows: variables.$header-height 1fr;
}

app-header {
  grid-area: header;

  position: sticky;
  top: 0;
  z-index: 100;
}

app-settings {
  grid-area: sidebar;
  overflow-y: auto;
}

main {
  grid-area: container;

  position: relative;
  box-sizing: border-box;
  max-height: calc(100vh - variables.$header-height);
  padding: 10px;
  overflow: auto;
  background-color: #ECECEC;
}

.sidebar-open.grid-container {
  grid-template-areas:
    "header header"
    "sidebar container";
  grid-template-columns: [sidebar-start] auto [sidebar-end] 1fr;
  grid-template-rows: variables.$header-height 1fr;
}


@media(max-width: 768px) {

  .grid-container {
    grid-template-areas:
      "header"
      "container";
    grid-template-columns: 1fr;
    grid-template-rows: variables.$header-height 1fr;
  }
}