@use '../../../variables.scss';

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: variables.$login-bg-color;
}

.email-container, .password-container {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  mat-form-field {
    margin-left: 10px;
    margin-top: 20px;
  }
}

mat-card {
  margin-top: 20px;
  border: 1px solid variables.$border-color;
  box-shadow: 2px 2px variables.$box-shadow-color;
}

mat-card-header, .form-actions {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

.form-actions {
  margin-top: 20px
}

mat-error {
  color: red;
  font-size: 12px;
}