@use '../../variables.scss';

.team-list {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.team-list-h3 {
  background-color: variables.$team-color1;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.not-selected-members-h3 {
  text-align: center;
  background-color: variables.$not-selected-member-background-color;
}

.not-selected-members {
  width: 100%;
  background-color: variables.$not-selected-member-background-color;
  text-align: center;
}

.inactive-members-h3 {
  text-align: center;
  background-color: variables.$inactive-member-background-color;
}

.inactive-members {
  width: 100%;
  background-color: variables.$inactive-member-background-color;
  text-align: center;
}

.not-selected-members-list, .inactive-members-list {
  margin-bottom: 20px;
}

.member-avatar {
  width: 20px;
  height: 20px;
  margin: auto;
  object-fit: cover;
  overflow: hidden;
}