<app-dialog (closeDialog)="cancel()">
    <ng-container gen-dialog-header>
      <h3 class="dialog-header">Enter new member name:</h3>
    </ng-container>
    <ng-container gen-dialog-content>
      <div class="dialog-content">
        <form [formGroup]="newMemberForm" (ngSubmit)="onSubmit()" style="margin-top: 16px;">
          <label for="name">Name: </label>
          <input id="name" type="text" formControlName="name" required>

          <p>Complete the form to enable button.</p>
          <button type="submit" [disabled]="!newMemberForm.valid">Submit</button>
        </form>

        <hr>

        <p>Form Value: {{ newMemberForm.value | json }}</p>

        <p>Form Status: {{ newMemberForm.status }}</p>
      </div>
    </ng-container>
</app-dialog>