<app-dialog (closeDialog)="cancel()">
    <ng-container gen-dialog-header>
      Create new member
    </ng-container>
    <ng-container gen-dialog-content>
      <div class="dialog-content">
        <form [formGroup]="newMemberForm" (ngSubmit)="onSubmit()">
          <label for="name">Name: </label>
          <input id="name" type="text" formControlName="name" required autofocus>
          
          <input class="file-input" type="file" (change)="onFileSelected($event)" #fileUpload>

          <div class="file-upload">
            {{fileName || "No file selected"}}

            <button mat-mini-fab color="white" type="button" class="upload-button" (click)="fileUpload.click()">
              <img src="assets/img/icons/upload_icon.png">
            </button>
          </div>
          <div class="upload-preview">
            Preview:
            <img class="preview-image" src="{{base64PlainData}}">
          </div>
          <div class="new-member-submit-button">
            <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancel</button>
            <button mat-raised-button type="submit" [disabled]="!newMemberForm.valid" title="Complete the form to enable the button.">Submit</button>
          </div>
        </form>
      </div>
    </ng-container>
</app-dialog>