@use './variables.scss';
@import '@angular/cdk/overlay-prebuilt.css';

/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

router-outlet + *  {
  padding: 0;
}



@media (min-width: 800px) {
  :root {
    /* ScrollbarFirefox */
    scrollbar-color: variables.$scrollBar-thumb-color variables.$scrollBar-color;
    scrollbar-width: 5px;
  }

  /* ScrollBar Style */
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: variables.$scrollBar-color;
    color: variables.$scrollBar-color;
  }
}

.mat-mdc-menu-content {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: -10px -10px 5px rgba(0,0,0,0.2);
}

.cdk-overlay-pane {
  display: flex;
  flex-direction: column;
  place-items: center;
}