$team-color1: #5b87b4;
$team-color2: #484a48;

$main-bg-color: $team-color1;
$not-selected-member-background-color: #dbe1ff;
$not-selected-member-color: #a4a4a4;
$inactive-member-background-color: #ddd;
$inactive-member-color: #a4a4a4;