@use '../../variables.scss';

.member-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.active-member-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 70px;
  margin: 6px;
  padding: 6px;
  color: variables.$active-color;
  background-color: variables.$active-bg-color;
  border-radius: 5px;
  border: 1px solid variables.$light-border-color;
  text-align: center;
}

.active-member-card.inactive-member-card {
  background-color: variables.$inactive-bg-color;
  color: variables.$inactive-color;
}

.member-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    margin-right: 6px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
  }

  label {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 110px;
    text-overflow: ellipsis;
    padding-top: 3px;
  }
}

.member-button-box {
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  button {
    border: none;
    background-color: transparent;
  }
}

.delete-member-button {
  margin-left: 20px;
}

@media (max-width: 620px) {
  .member-list {
    grid-template-columns: 100%;
  }
}

@media (max-width: 720px) {
  .member-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 721px) and (max-width: 890px) {
  .member-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 891px) and (max-width: 1060px) {
  .member-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1061px) {
  .member-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}