<div class="member-list">
    <div *ngFor="let item of teamsService.members">
        
        <div class="active-member-card" [ngClass]="{'inactive-member-card': !item.active}">
            <img src={{item.image}} class="member-image">
            {{ item.name }}
            <div class="member-button-box">
                <button type="button" (click)="toggleActive(item)" *ngIf="item.active">deactivate</button>
                <button type="button" (click)="toggleActive(item)" *ngIf="!item.active">activate</button>
            <button class="delete-member-button" type="button" (click)="deleteMember(item)">delete</button>
            </div>
        </div>
        
    </div> 
</div>